body{
    background-image: linear-gradient(to right, #808080,#aaaaaa,#808080,#aaaaaa);
    font-family: 'Itim';
}
header,footer{
    box-sizing: border-box;
    position: absolute;
    background-image: linear-gradient(to right, #aaaaaa,#808080,lightgreen,#808080,#aaaaaa);

    width: 100%;
    border: 1px solid black;
    display: inline-block;
}
header{
    top:0;
    left:0;
    height: 18%;
    text-align: center;
}
footer{
    bottom:0;
    left:0;
    height: 10%;
    text-align: left;
}
#content{
    position: absolute;
    left:0;
    top:18%;
    height:  72%;
    text-align: center;
}
.freeplace{
    color: black;
    position: relative;
    display: inline-block;
    border:1px solid black;
    height: 40px;
    width: 40px;
    margin: 0.4%;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(to right,green ,lime,green);
}
.takenplace{
    color: black;
    position: relative;
    display: inline-block;
    border:1px solid black;
    height: 40px;
    width: 40px;
    margin: 0.4%;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(to right,red ,pink,red);
}
.show{
    color: black;
    display: inline-block;
    border:1px solid black;
    width: 2%;
    margin:1px;
    text-align: center;
    cursor: pointer;
}

#screen{
    position: relative;
    background-color: navy;
    width: 80%;
    height: 2%;
    left:10%;
    right:10%;
    margin-top:1%;
    margin-bottom:-1%;
    border:3px solid black;
    box-sizing: border-box;
}
#places{
    margin-top:1.5%;

}

.title{
font-size: 32px;
margin: 0.2% auto;
font-weight: bolder;
}

#select,#start{
    width: 25%;
    height: 35px;
    font-family: 'Itim';
    font-weight: bolder;
}
input[type='submit']{
    background-image: linear-gradient(to right, lime,green,lime);
    color:white;
}
#legend{
    margin: 0.1%;
    display: block;

}
#all{
    position: absolute;
    left: 15%;
    bottom:30%;
}
#secret{
display: none;
}
#tab{
    position: relative;
}